<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de"> 
  <head> 
    <title>Piratenpartei Deutschland - Clearingstelle</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="stylesheet" href="clearing.css" type="text/css" media="screen" />
  </head>
  <body>

    <div id="main">
      <h1> Piratenpartei Deutschland - Clearingstelle</h1>
      
      <p>
	Willkommen bei der Clearingstelle des LiquidFeedbaack-Systems der
	Piratenpartei Deutschland.
      </p>
      
      <p>
	Hier kannst du dir mit dem Referenzschlüssel, den du vom Vorstand
	erhalten hast, *genau einmal* deinen Einladungscode für LiquidFeedback
	geben lassen. Falls du Mitglied der Piratenpartei bist und keinen
	Referenzschlüssel erhalten hast, wende dich bitte an den Bundesvorstand
	(<a href="mailto:vorstand@piratenpartei.de">vorstand@piratenpartei.de</a>).
      </p>

      
      <h2>Einladungscode Erhalten</h2>
      <form action="https://lqfb-clearingstelle.piratenpartei.de/clear/" method="post">
	<div id="formcontent">
	<p>
	  <label for="RefKey">
	    Um deinen Einladungscode zu erhalten, gib bitte den Referenzschlüssel in
	    dieses Feld ein:
	  </label>

	  <input name="RefKey" id="RefKey" type="text" size="24" /> <br />

	</p>

	<p>
		Um zu verhindern, dass diese Seite automatisch abgefragt wird, musst du noch das Captcha hier eingeben:
		<script type="text/javascript"
		src="http://www.google.com/recaptcha/api/challenge?k=6LfFD7wSAAAAAOvpxU0hiN1e-OV0_Y-EDHtM0kPB">
		</script>

		<noscript>
		<iframe src="http://www.google.com/recaptcha/api/noscript?k=6LfFD7wSAAAAAOvpxU0hiN1e-OV0_Y-EDHtM0kPB" height="300" width="500" frameborder="0"></iframe><br />
		<textarea name="recaptcha_challenge_field" rows="3" cols="40" > </textarea>
		<input type="hidden" name="recaptcha_response_field" value="manual_challenge" />
		</noscript>
	</p>
	
	<p>
	  <label for="checkout">
	      Wenn du den untentstehenden Button drückst, erhältst du <b>einmalig</b>
	      deinen Einladungscode. <br /><br />Beachte bitte: Der Einladungscode
	      wird <b>NUR EINMAL<b> angezeigt. Bitte kopiere oder
	      notiere ihn dir sofort, um dir dann damit auf 
	      <a href="https://lqfb.piratenpartei.de/">https://lqfb.piratenpartei.de/</a>

	      einen Account anzulegen.
	  </label>

	  <input type="submit" name="checkout" id="checkout" value="Einladungscode Erhalten" /> <br />
	</p>
	</div> <!-- id: formcontent -->
      </form>

      <p>

	Falls bei diesem Vorgang etwas schiefläuft, weil dir z.B. der
	Einladungsschlüssel nicht angezeigt wird, du ihn verloren hast oder dein
	Referenzschlüssel nicht gültig oder bereits benutzt zu sein scheint,
	wende dich bitte ebenfalls umgehend an den Bundesvorstand
	(<a href="mailto:vorstand@piratenpartei.de">vorstand@piratenpartei.de</a>).
      </p>
    </div> <!-- id: main -->
    
    <div id="footer">
      <p>
	Dies ist die Seite der Clearingstelle des LiquidFeedback-Systems der
	Piratenpartei Deutschland. Mehr Informationen, insbesondere zu den Nutzungsbedingungen und der Datenschutzerklärung des
	LiquidFeedback-Systems findest du hier:
      </p>

      <p>

	<a href="https://lqfb.piratenpartei.de/pp/static/doc/useterms.html">Nutzungsbedingungen</a> -  
	<a href="https://lqfb.piratenpartei.de/pp/static/doc/privacy.html">Datenschutzerklärung</a> - 
	<a href="http://wiki.piratenpartei.de/LQPP/Betriebsdoku">Betriebsdokumentation</a> -       
	<a href="/static/impressum.html">Impressum</a>
      </p>
    </div> <!-- id: footer -->

  </body>
</html>



