<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
  <head>
    <title>Piratenpartei Deutschland - Clearingstelle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="stylesheet" href="clearing.css" type="text/css" media="screen" />

  </head>
  <body>
    <div id="impressum">
      <h1>Piratenpartei Deutschland - Clearingstelle</h1>
      <h2>Impressum:</h2>
      <p>
        Dienstanbieter dieser Seite ist die Piratenpartei Deutschland vertreten
        durch den Vorsitzenden Jens Seipenbusch.
      </p>

      <h3>Redaktionell verantwortlich gemäß §5 TMG:</h3>
      <address>
        Jens Seipenbusch<br />
        Piratenpartei Deutschland<br />
        Pflugstraße 9a<br />
        10115 Berlin<br />

        Email: js [at] piratenpartei . de -- (statt "at", bitte "@" eingeben)
      </address>

      <h3>Ladungsfähige Anschrift gemäß TMG:</h3>
      <address>
        Piratenpartei Deutschland<br />
        Pflugstraße 9a<br />
        10115 Berlin<br />

      </address>

      <address>
        Geschäftsstelle<br />
        Piratenpartei Deutschland<br />
        Pflugstraße 9a<br />
        10115 Berlin<br />

        Fon: +49 30 27572040<br />
        Fax: +49 30 609897-517<br />
        E-Mail: bgs_anfragen [at] piratenpartei.de -- (statt "at", bitte
        "@" eingeben)
      </address>
    </div> <!-- id: impressum -->

    <div id="footer">
      <p>

        <a href="https://lqfb.piratenpartei.de/pp/static/doc/useterms.html">Nutzungsbedingungen</a> -
        <a href="https://lqfb.piratenpartei.de/pp/static/doc/privacy.html">Datenschutzerklärung</a> -
        <a href="http://wiki.piratenpartei.de/LQPP/Betriebsdoku">Betriebsdokumentation</a> -
        <a href="index.html">Hauptseite</a>
      </p>
    </div> <!-- id: footer -->

</body>
</html>

